footer{
    background-color: $color-black;
    color: $color-white;
    padding: 20px 40px;
    p{
        padding: 30px 0px;
    }
    
    ul{
        display: flex;
        list-style: none;
        a{
            margin-right: 20px;
        }
    }
    @include breakpoint(tablet){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
    }
    @include breakpoint(desktop){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
        padding-left: 120px;
        padding-right: 120px;
    }
    @include breakpoint(largedesktop){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
        padding-left: 120px;
        padding-right: 120px;

    }
    
}
footer.locat{
    background-color: $color-orange;
    color: $color-black;
    padding: 20px 40px;
    p{
        padding: 30px 0px;
        line-height: 1.6;
    }
    
    ul{
        display: flex;
        list-style: none;
        a{
            margin-right: 20px;
        }
    }
    img{
        color: black;
    }
    @include breakpoint(tablet){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
    }
    @include breakpoint(desktop){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
        padding-left: 120px;
        padding-right: 120px;
    }
    @include breakpoint(largedesktop){
        display: flex;
        align-items: flex-start;
        padding: 55px 35px;
        justify-content: space-between;
        p{
            padding: 0px;
            width: 39%;
        }
        padding-left: 120px;
        padding-right: 120px;

    }
}