main{
    width: 100%;
    *{
        font-family: $primary-font;
        font-weight: 200;
        font-size: 18px;
    }
    h1{
        font-family: $title-font;
        font-weight: 900;
    }
    a{
        font-family: $title-font;

    }
    div.vacio{
        background-color: $color-black;
        height: 800px;
        width: 30%;
        display: none;
    }
    
    
}
section.title{
    width: 100%;
    margin-bottom: 80px;
    h1{
        font-size: 60px;
        padding: 20px 16px;
    }
    p{
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 32px;
        padding-left: 20px;
        padding-right: 20px;
        
    }

    position: relative;
    @include breakpoint(mobile){
        img {
            max-height: 400px;
            height: auto;
            display: block;
            width: 100%;         
            height: 260px;        
            object-fit: cover;    
            object-position: center;
        }
    }
    @include breakpoint(tablet){
        display: flex;
        align-items: center;
        img {
            position: relative;
            max-width: 55%;
            height: auto;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        h1{
            position: absolute;
            width: 55%;
            top: 90px;
            right: 0px;
        }
        >div {
            position: absolute;
            width: 55%;
            right: 0px;
        }
        
        

    }
    @include breakpoint(desktop){
        display: flex;
        align-items: center;
        justify-content: space-around;
        div.vacio{
            background-color: $color-black;
            height: 100%;
            width: 32.55%;
            display: block;
            position: absolute;
            left: 0px;
        }
        img {
            position: relative;
            max-width: 35%;
            max-height: 800px;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        h1{
            position: absolute;
            width: 35%;
            top: 240px;
            left: 90px;
            color: $color-white;
            font-size: 90px;
        }
        >div {
            position: absolute;
            width: 30%;
            right: 100px;
        }
        
        
        
        

    }
    @include breakpoint(largedesktop){
        display: flex;
        align-items: center;
        justify-content: space-around;
        div.vacio{
            background-color: $color-black;
            height: 100%;
            width: 32.55%;
            display: block;
            position: absolute;
            left: 0px;
        }
        img {
            position: relative;
            max-width: 35%;
            max-height: 800px;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        h1{
            position: absolute;
            width: 35%;
            top: 240px;
            left: 90px;
            color: $color-white;
            font-size: 90px;
        }
        >div {
            position: absolute;
            width: 30%;
            right: 100px;
        }
        
        
        
        

    }
        
    

    
}

section.articles{
    
        margin-left: 20px;
        margin-right: 20px;
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 30px; /* evita espacios debajo si está en línea */
      }
      h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    p{
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 32px;
        
    }
    @include breakpoint(tablet){
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 100px;
        margin-left: 40px;
        margin-right: 40px;
        gap: 60px;
        
        img {
            position: relative;
            height: auto;
            margin: 0px;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        
    }
    @include breakpoint(desktop){
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 170px;
        margin-left: 140px;
        margin-right: 140px;
        gap: 60px;
        
        img {
            position: relative;
            height: auto;
            margin: 0px;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        
    }
    @include breakpoint(largedesktop){
        margin: 0px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        margin-top: 170px;
        margin-left: 140px;
        margin-right: 140px;
        gap: 60px;
        
        img {
            position: relative;
            height: auto;
            margin: 0px;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        
    }
}
section.articles2{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    img {
        max-width: 100%;
        max-height: 100%;
        display: block; /* evita espacios debajo si está en línea */
      }
      h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    p{
        font-weight: 200;
        font-size: 18px;
        margin-bottom: 32px;
        
    }
    article.black{
        background-color: $color-black;
        color: $color-white;
        padding: 20px 30px;
    }
    @include breakpoint(tablet){
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 45% 55%;
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 49px;
        margin-bottom: 80px;
        gap: 20px;
        align-items: top;
        overflow: hidden;
        img {
            position: relative;
            max-width: 100%;
            height: 100%;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        article.img3{
            grid-area: span 2;
             
        }
        article.black{
            height: 400px;
            display: flex;
            flex-direction: column;
        }
        p{
            padding-right: 18px;
            
        }

        
        
        
        
    }
    @include breakpoint(desktop){
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 45% 55%;
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
        margin-bottom: 170px;
        gap: 20px;
        align-items: top;
        overflow: hidden;
        img {
            position: relative;
            max-width: 100%;
            height: 100%;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        article.img3{
            grid-area: span 2;
             
        }
        article.black{
            height: 400px;
            padding: 60px;
        } 
        
    }
    @include breakpoint(largedesktop){
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 45% 55%;
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
        margin-bottom: 170px;
        gap: 20px;
        align-items: top;
        overflow: hidden;
        img {
            position: relative;
            max-width: 100%;
            height: 100%;
            display: block; /* evita espacios debajo si está en línea */
          }
        
        article.img3{
            grid-area: span 2;
             
        }
        article.black{
            height: 400px;
            padding: 60px;
        } 
        
    }
}
section.imagenmap{
    min-height: 70vh;
    background-image: url(../../img/Maps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200vh;
}
section.ubi{
    padding: 20px 20px;
    background-color: $color-black;
    color: $color-white;
    
    h1,h3{
    
        font-family: $title-font;

    }
    h1{
        font-size: 50px;
        margin-bottom: 35px;
        margin-top: 35px;
    }
    h3{
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 20px;
        color: $color-orange;
    }
    span{
        display: block;
        line-height: 1.6;
    }
    p {

        margin-top: 20px;
        line-height: 1.6;
        margin-bottom: 40px;
      }
    @include breakpoint(tablet){
        article{
            display: flex;
            justify-content: space-between;
            padding: 20px 60px;
            div{
                width: 45%;
            }
            h1{
                width: 25%;
            }
        }
        
    }
    @include breakpoint(desktop){
        article{
            display: flex;
            justify-content: space-between;
            padding: 20px 60px;
            div{
                width: 45%;
            }
            h1{
                width: 15%;
            }
        }
        
    }
    @include breakpoint(largedesktop){
        article{
            display: flex;
            justify-content: space-between;
            padding: 20px 60px;
            div{
                width: 45%;
            }
            h1{
                width: 15%;
            }
        }
        
    }

}