a.button2{
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: $color-black;
    color: $color-white;
    text-decoration: none;
    font-size: 20px;
    padding: 18px 33px;
    
    
}
a.button3{
    display: inline-block;
    background-color: $color-orange;
    color: $color-white;
    text-decoration: none;
    padding: 16px 20px;
    
    
}
div.botones{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
div.botonesmap{
    display: flex;
    align-items: center;
}

div:hover a.button2{
    background-color: $color-orange;
}

div:hover a.button3{
    background-color: $color-black;
}